.nodesEditor {
  width: 400px;
  border-left: 1px solid #dadce0;
  background-color: #fbfbfb;
  overflow-y: overlay;
  padding: 0 15px;

  &Section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;

    &Top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #2a435f;
      border-bottom: #6c8ebf solid 2px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0 -15px;
    }

    &Title {
      color: white;
    }
  }

  &Input {
    &Group {
      list-style: none;
      margin-bottom: 10px;
    }
    &Select{
      width: fit-content;
      padding: 5px;
      cursor: pointer;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &::-ms-expand {
        display: none;
      }
    }
    &Block {
      margin-top: 5px;
      width: 100%;
      display: grid;
      grid-template-columns:220px auto 50px;
      gap: 5px;
    }
  }
}
