.input{
    display: flex;
    padding: 3px;
    border: 1px solid rgb(41, 41, 41);

    &Disabled {
        pointer-events: none;
        border: 1px solid rgb(214, 214, 214);
        input { 
            color: rgb(214, 214, 214);
        }
    }

    &Label {
        background-color: rgb(214, 214, 214);
        padding: 4px;
        border-radius: 4px;
        text-align: center;
        margin-right: 5px;
    }

    &Field{
        outline: none;
        border: none;
        background: none;
    }
}