.button {
    outline: none;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

.button.green{
    background: rgb(0, 122, 51);
    color: #fff;
    font-size: 16px;
}

.button.plus{ 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 20px;
    height: 20;
    font-size: 16px;

    img {
        width: 20px;
        height: 20px;
    }
}